
.app-container{
  display: grid;
  grid-template-columns: 1fr; /* Single column for the sidebar and viewport */
  grid-template-rows: 50px;
  height: 100Vh;
}

.head-container {
  text-align:center;
  background-color: blueviolet;
  padding: 15px;
}

.content-container {
  display: inline-grid;
  gap: 1rem;
  grid-template-columns: 200px repeat(3, 1fr);
}

.sidebar {
  text-align: justify;
  background: rgb(211,211,211);
  color: black;
  padding: 15px;
}
.viewport {
  grid-column: span 3;
  
  text-align: justify;
  background-color: brown;
  padding:15px;
}
