.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  display: flex;
  position:absolute;
}

.appbar {
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  z-index: 2;
}

.sidebar {
  text-align: center;
  background: rgb(5, 68, 104);
  color: #fff;
  position: fixed;
  width: 225px;
  top: 8%;
  height: 100%;
  padding: 20px;
  transition: all 0.5s ease;
  z-index: 1;
}

.content-container {
  flex: 3;
  padding: 20px;
}

.viewport {
  text-align: left;
  position: absolute;
  left: 265px;
  right: 500px;
  top: 55px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
